<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerNum" value="Server_14"/>

    <add key="ConnectionString" value="Data Source=(DESCRIPTION =     (ADDRESS_LIST =       (ADDRESS = (PROTOCOL = TCP)(HOST = 192.100.100.11)(PORT = 1521))     )     (CONNECT_DATA =       (SERVICE_NAME = LIMS)     )     );User ID=system;Password=123456"/>

    <!--日志开关-->
    <add key="LogSwitch" value="true"/>
    <add key="loginfo" value="true"/>
    <add key="logerror" value="true"/>
  </appSettings>
</configuration>